<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.icon-icons.com/icons2/1857/PNG/512/onlineshopping_117801.png" width="30" height="30" alt="">
        </a>
        <a class="navbar-brand" href="#">
            <img *ngFor="let usuario of Usuarios" src="{{usuario.foto}}" width="30" height="30" alt="">
        </a>
        <a class="navbar-brand" href="#">
            <label *ngFor="let usuario of Usuarios" for="start">{{usuario.correo}}</label>
        </a>
        <a class="navbar-brand" href="#">
            <label *ngFor="let usuario of Usuarios" for="start">Creditos: {{usuario.credito}}</label>
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item active">
                    <button (click)="CerrarSesion()" type="button" class="btn btn-info">Cerrar Sesion</button>

                </li>
                

            </ul>

        </div>
    </div>

</nav>

<div class="container mt-5">
    <div class="row">
        

                <div  class="col-4">

                    
                    
                <textarea [(ngModel)]="textdenuncia" name="comentarios" rows="10" cols="40"></textarea>
                <div class="card-footer">

                    <button  (click)="Denunciar()" type="submit"  class="btn btn-secondary">Denunciar</button>
                    
                </div>
                    
                </div>


            
    </div>
</div>

<style>
    .col-4{
        position: absolute;
        top:30%;
        left: 43%;           
        margin-top: -100px;
        margin-left: -100px;
    }


</style>