<nav class="navbar navbar-dark bg-dark">

    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.icon-icons.com/icons2/1857/PNG/512/onlineshopping_117801.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>


<div class ="div_centrado">
    <img src="https://es.jumpseller.com/images/learn/choosing-platform/laptop.jpg">
    <br>
    
    <div class="centrado">
        <button (click)="login()" type="submit" class="btn btn-secondary">Iniciar sesion</button>
    
    </div>
    

</div>

<style>
    .div_centrado{
        position: absolute;
        top:30%;
        left: 30%;           
        margin-top: -100px;
        margin-left: -100px;
    }

</style>
