<nav class="navbar navbar-dark bg-dark">

    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.icon-icons.com/icons2/1857/PNG/512/onlineshopping_117801.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>



<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <form>
                <div class="form-group">
                   
                    <input [(ngModel)]="username" name="username" placeholder="correo" type="text" class="form-control"   aria-describedby="emailHelp">
                 
                </div>

                <div class="form-group">
                   
                    <input [(ngModel)]="password" name="password" placeholder="password" type="password" class="form-control"   aria-describedby="emailHelp">
                 
                </div>
                
                <button (click)="VerificarCuenta()" type="submit" class="btn btn-secondary">Verificar cuenta</button>

            </form>
        </div>

    </div>
</div> 

<style>
    .col-4{
        position: absolute;
        top:50%;
        left: 40%;           
        margin-top: -100px;
        margin-left: -100px;
    }

</style>